<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syx.mapper.lsjs.ImportDataMapper">
    <resultMap id="ImportDataResult" type="com.syx.domain.ImportData">
        <result property="quitPernr" column="quit_pernr"/>
        <result property="personScope" column="person_scope"/>
        <result property="directPernr" column="direct_pernr"/>
        <result property="division" column="division"/>
        <result property="originatorPernr" column="originator_pernr"/>
        <result property="importTime" column="import_time"/>
        <result property="absenteeismDoc" column="absenteeism_doc"/>
    </resultMap>

    <resultMap id="quitPernrData" type="java.lang.String">
        <result property="quitPernr" column="quit_pernr"/>
    </resultMap>

    <insert id="insertImportData" parameterType="com.syx.domain.ImportData">
        insert into ImportData (quit_pernr, person_scope, direct_pernr, division, originator_pernr, import_time, absenteeism_doc)
        values (
                   #{quitPernr},#{personScope},#{directPernr},#{division}, #{originatorPernr}, #{importTime}, #{absenteeismDoc}
               )
    </insert>

    <select id="getImoprtDataByPernr" parameterType="string" resultMap="ImportDataResult">
        select * from ImportData where quit_pernr = #{quitPernr}
    </select>

    <delete id="deleteImportData" parameterType="string">
        delete from ImportData where quit_pernr = #{quitPernr}
    </delete>

    <select id="getImoprtDataByTime" parameterType="com.syx.domains.dto.ApproveGetDto" resultMap="quitPernrData">
        select quit_pernr from ImportData where convert(date,import_time) between #{startTime} and #{endTime}
    </select>

    <select id="getImoprtDataList" parameterType="com.syx.domains.dto.ImportDataGetDto" resultMap="ImportDataResult">
        select * from ImportData where quit_pernr = #{quitPernr} or convert(date,import_time) = #{importTime}
    </select>

    <select id="getImoprtDataByImportTime" parameterType="string" resultMap="ImportDataResult">
        select * from ImportData where convert(date,import_time) = #{importTime}
    </select>

    <select id="getImportDataList" resultMap="ImportDataResult">
        select * from ImportData
    </select>
</mapper>