<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syx.mapper.lsjs.ResumeMapper">
    <resultMap id="ResumeResult" type="com.syx.domain.Resume">
        <result property="pernr" column="pernr"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="storeId" column="store_id"/>
        <result property="storeName" column="store_name"/>
        <result property="position" column="position"/>
        <result property="post" column="post"/>
    </resultMap>

    <select id="getResumeByPernr" resultType="com.syx.domains.vo.ResumeRes" parameterType="string">
        select pernr, start_date, end_date, store_id, store_name, position from Resume where pernr = #{quitPernr}
    </select>

    <select id="getResumeByPernrAndStartDate" resultType="com.syx.domains.vo.ResumeRes">
        select pernr, start_date, end_date, store_id, store_name, position from Resume where pernr = #{pernr} and start_date = #{startDate}
    </select>

    <insert id="insertResume" parameterType="com.syx.domain.Resume">
        insert into Resume (pernr, start_date, end_date, store_id, position, store_name, post)
        values (#{pernr}, #{startDate}, #{endDate}, #{storeId}, #{position}, #{storeName}, #{post})
    </insert>

    <delete id="deleteResume" parameterType="string">
        delete from Resume where pernr = #{pernr}
    </delete>

    <update id="updateResume" parameterType="com.syx.domain.Resume">
        update Resume
        <trim prefix="set" suffixOverrides=",">
            <if test="pernr != null">pernr = #{pernr},</if>
            <if test="startDate != null">start_date = #{startDate},</if>
            <if test="endDate != null">end_date = #{endDate},</if>
            <if test="storeId != null">store_id = #{storeId},</if>
            <if test="position != null">position = #{position},</if>
            <if test="storeName != null">store_name = #{storeName},</if>
            <if test="post != null">post = #{post},</if>
        </trim>
        where pernr = #{pernr} and start_date = #{startDate}
    </update>

</mapper>