<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syx.mapper.lsjs.SAPUserInfoMapper">

    <select id="getUserNameByPernr" parameterType="string" resultType="string">
        select name
        from personInfo
        where alias = #{pernr}
    </select>

    <select id="getUserInfoByPernr" parameterType="string" resultType="com.syx.domain.SAPUserInfo">
        select alias       as pernr,
               name        as name,
               idcard      as idNumber,
               storename   as department,
               zntx        as dutySystem,
               id          as fourOrganizationId,
               text        as fourOrganization,
               mobilephone as phone,
               positionID  as positionId,
               position as position,
               jobID       as postId,
               job         as post,
               zrzrq       as joinedDate,
               zzzrq       as confirDate,
               zlzrq       as leaveDate
        from personInfo
        where alias = #{pernr}
    </select>

    <select id="getUserInfoByPernrList" resultType="com.syx.domain.vo.AuditUserRes">
        select a.quit_pernr as pernr
             , a.launch_id  as launchId
             , MAX(p.name)  as userName
             , MAX(p.sex)   as sex
             , MAX(p.job) as position
	         ,MAX(p.storename) as department
	         ,MAX(i.person_scope) as personScope
	         ,MAX(p.persg) as persg
	         ,MAX(p.zrzrq) as joinedDate
	         ,MAX(p.zzzrq) as confirDate
	         ,MAX(p.zlzrq) as leaveDate
	         ,MAX(p.mobilephone) as phone
	         ,MAX(i.division) as division
	         ,MAX(case when a.approve_content = 1 then a.work else null end) as work
	         ,MAX(case when a.approve_content = 1 then a.fixed_asset else null end) as fixedAsset
	         ,MAX(case when a.approve_content = 1 then a.isa else null end) as isa
	         ,MAX(case when a.approve_content = 1 then a.dormitory else null end) as dormitory
	         ,MAX(case when a.approve_content = 1 then a.goods_refund else null end) as goodsRefund
	         ,MAX(case when a.approve_content = 1 then a.document_num else null end) as documentNum
	         ,MAX(case when a.approve_content = 2 and a.loan_money is null then l.money else a.loan_money end) as loanMoney
	         ,MAX(case when a.approve_content = 2 then a.short_money else null end) as shortMoney
	         ,MAX(case when a.approve_content = 3 then a.quality_money else null end) as qualityMoney
	         ,MAX(case when a.approve_content = 4 then a.card_money else null end) as cardMoney
	         ,MAX(case when a.approve_content = 4 then a.clothes_money else null end) as clothesMoney
	         ,MAX(case when a.approve_content = 5 then a.care_money else null end) as careMoney
	         ,MAX(case when a.approve_content = 5 then a.care_document_num else null end) as careDocumentNum
        from Approve a inner join personInfo p
        on a.quit_pernr = p.alias left join ImportData i on a.launch_id = i.launch_id left join LoanBalance l on a.quit_pernr = l.pernr
        where a.quit_pernr = #{quitPernr}
          and a.launch_id = #{launchId}
        group by a.quit_pernr, a.launch_id
    </select>

    <select id="getDepartmentByPernr" parameterType="string" resultType="string">
        select storename
        from personInfo
        where alias = #{quitPernr}
    </select>

    <select id="searchUserInfoByPernr" parameterType="string" resultType="com.syx.domains.vo.SearchUserInfoRes">
        select alias as pernr, name as userName, position
        from personInfo
        where alias like '%' + #{pernr} + '%'
    </select>

    <select id="getDuyuSystemByPernr" resultType="string" parameterType="string">
        select zntx as duty_system
        from personInfo
        where alias = #{quitPernr}
    </select>

    <select id="getLeaveDateByPernr" parameterType="string" resultType="string">
        select zlzrq as leave_date
        from personInfo
        where alias = #{pernr}
    </select>

    <select id="getUserPernrOrUserName" parameterType="string" resultType="com.syx.domains.vo.SearchUserInfoRes">
        select top 20 alias as pernr, name as user_name, position
        from personInfo
        where (alias like '%' + #{pernrOrName} + '%' or name like '%' + #{pernrOrName} + '%')
          and zlzrq is null
          and massn != '04' and (zntx = '区域经理级' or zntx = '地区经理级' or zntx = '营运体系')
    </select>

    <select id="getLeaveResonByQuitPernr" parameterType="string" resultType="string">
        select mgtxt
        from personInfo
        where massn = '04'
          and alias = #{pernr}
    </select>
</mapper>